/* SCROLLING IMAGES DEVELOPER'S PICKS
    https://blog.logrocket.com/creating-infinite-css-background-image-loop/
     */
@keyframes slide {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-150px); /* The image width */
  }
}
.scrollingImageContainer {
  overflow: hidden;
  display: flex;
  width: auto;
  justify-content: space-evenly;
}
.scrollingImages img {
  width: 140px;
  height: 200px;
}
.scrollingImages {
  height: 220px;
  width: 450px ;
  animation: slide 6s linear infinite;
  
}


/* Background Video */
/* Video Background:"https://www.vecteezy.com/" */
.vecteezy span {
  font-size: 8px;
  color: #0073e6;
}
.vecteezy:hover span {
  display: none
}
.vecteezy:hover::before {
  content: "Video Background"
}
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.static {
  width: 79px;
  height: 65px;
  position: relative;
  top: -95px;
  left: 51px;
}
a {
  color: aqua;
  font-size: 18px;
  font-family: comfortaa;
}
a:hover {
  font-size: 20px;
  color: rgb(205, 14, 230);
  font-family: shrikhand;
}
ul.userPicks {
  list-style-image: url("./assets/smalltvicon.png");
}
.aboutMe {
    justify-self: end;
    grid-row: span 2;
    background-image: url('./assets/universe-space.gif');
    text-align: center;

}
.aboutMe img {
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}
.aboutMe img:hover {
  background-color: #000000;
  transform: rotate(720deg);
}
.aboutMe a {
    font-family: henny Penny;
    color: #4ccde3;
    font-size: 14px;
    text-shadow: 
    0 0 7px #fff,
    0 0 10px rgb(200, 0, 255),
    0 0 22px rgb(200, 0, 255),
    0 0 42px rgb(200, 0, 255);
    
}
.aboutMe a:hover {
  font-size: 20px;
  color:#0073e6;
}
.aboutMe a:hover span {
  display: none
}
.aboutMe a:hover::before {
  content: "Click Me!"
}

/* DESIGN LANDING PAGE */
* {
  /* border: 1px solid rgb(180, 6, 145); */
  box-sizing: border-box;
  color: rgb(254, 255, 255);
}
h1 {
  grid-column: 2;
  width: max-content;
  justify-self: center;
  grid-row: 1;
}

h1, h2, h3 {
  font-family: exan-regular;
  text-shadow: 0 0 5px #fff, 
  0 0 10px #fff, 
  0 0 15px #0073e6, 
  0 0 40px #0073e6,
  0 0 25px #0073e6, 
  0 0 30px #0073e6, 
  0 0 35px #0073e6;
}
h3 {
  max-height: 150px;
}

/* CSS FOR MAIN (CENTER) ARTICLES ON PAGE */
.hidden {
  display: none;
}
main {
  display: grid;
  grid-template-columns: 0.5fr 3fr 1fr;
  grid-template-rows: 6fr;
}
.middlePage {
  display: grid;
  grid-template-rows: max-content;
  grid-column: 2;
  row-gap: 10px;
}
.mainArticle {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  grid-column: 2;
  grid-row: 2;
  grid-template-rows: max-content;
  font-family: comfortaa;
  font-size: 12px;
  column-gap: 10px;
}
.mainArticle img {
  width: 120px;
}
.mainArticleHeader {
  grid-row: 1;
  grid-column: 2;
  text-align: center;
  font-size:40px;
  width: fit-content;
  height: 25px;
  justify-self: center;
}

.showHiddenResults {
  grid-column: 3;
  grid-row: 2;
  align-self: center;
}
.developerPicks {
  display: grid;
  grid-template-columns: fit-content();
  align-items: center;
  text-align: center;
}
.userPicks {
  display: grid;
  grid-template-rows: 0.5fr 3fr;
}
.userPicks h3 {
  grid-row: 1;
  text-align: center;
}

/* CSS FOR HEADER (TOP OF PAGE) */
header {
  display: grid;
  grid-template-columns: .20fr 1fr .20fr;
  grid-template-rows: 1fr .25fr ;
  
}

.header {
  grid-row: 2;
  grid-column: 2;
  width: max-content;
  justify-self: center;
}
input {
  background-color: #010810;
  border: 1px solid white;
}
.button{
  background-color: #bf23d1;
  color: #000709;
}
header a {
  height: 25%;
  align-self: center;
}

/* Media Query */
@media (max-width: 540px) {
  header {
    grid-template-columns: 1fr;
    grid-template-rows: .25fr 1fr .5fr;
    font-size: 14px;
  }
  h1 {
    grid-row: 2;
  }
  .header {
    grid-row: 3;
  }
  .aboutMe img {
    display: none;
  }
  .aboutMe {
    font-size: 12px;
    grid-row: 1;
    grid-column: 2;
    justify-self: center;
  }
  main{
    grid-template-columns: 1fr 1fr;
  }
  .middlePage{
    grid-template-columns: 1fr ;
    grid-column: 1;
    
  }
  .mainArticle {
    display: block;
    grid-column: 1;
    width: 300px;
    font-size: 22px;
    font-family: aboreto ;
    
  }
  .mainArticle div img {
    width: 250px;
  }
  .mainArticleHeader {
    grid-column: 1;
  }
  .watchList {
    font-size: 22px;
    font-family: aboreto ;
  }
 
  div p {
    display: none;
  }
  .developerPicks {
    display: none;
  }
  h3 img {
    display: none;
  }
  h3 {
    text-align: center;
  }
  
}

